
body {background: #eff5f9;}
h1 {font-weight: normal; color: #486c88; font-size: 18px; padding-bottom: 3px; margin-top: 7px; margin-bottom: 5px; border-bottom: 2px solid #dddddd}
div.pageHeading {padding-bottom: 3px; margin-top: 7px; margin-bottom: 5px; border-bottom: 2px solid #dddddd}
span.pageHeading {font-weight: normal; color: #486c88; font-size: 18px; }

/*links*/
a {color: #c31b2f; text-decoration: none}
a:hover {text-decoration: underline}

/*application name container*/
#appNameContainer { font-size: 18px; padding-left: 15px;  background: #fff; line-height: 2; color: #486c88;}


/*user menu (My Account/Logoff etc)*/
#userMenuContainer{ float: right}
#userMenuContainer .yuimenuitem-selected {	 background-color: #eaeaea;}
#userMenuContainer .yuimenubaritemlabel {padding: 0;}
#userMenuContainer .yuimenubarnav .yuimenubaritemlabel {padding-right: 20px;}
                                 
/*search menu*/
#search_menu .yuimenuitem-selected {	 background-color: #fff;}

/*main menu*/
#menuBox {background: #486c88; border: 1px solid #3d617e; height: 25px;}
#menuBox .yuimenubar {   border-left: 1px solid #3d617e; border-right: 1px solid #3d617e; border-bottom: 1px solid #3d617e;}
#menuBox .yuimenubaritemlabel { border-style: solid; border-color: #3d617e; border-width: 1px 0; color: white;}
#menuBox .yuimenubarnav .yuimenubaritem {border-right: solid 1px #3d617e;}
#menuBox .yuimenubaritem-selected { background: #639bca; }

/*project menu*/
#projectMenuContainer {border-top: 1px solid #3d617e; margin-bottom: 7px;}
#projectMenuBox {background: #486c88; border-top: 1px soid #3d617e; height: 25px;}
#projectMenuBox .yuimenubar {   border-left: 1px solid #3d617e; border-right: 1px solid #3d617e; border-bottom: 1px solid #3d617e;}
#projectMenuBox .yuimenubaritemlabel { border-style: solid; border-color: #3d617e; border-width: 1px 0; color: white;}
#projectMenuBox .yuimenubarnav .yuimenubaritem {border-right: solid 1px #3d617e;}
#projectMenuBox .yuimenubaritem-selected { background: #639bca; }


#itemDetailsBox {background: #f6f6f6; padding: 5px; margin-left: 10px; color: #5d5d5d; -moz-border-radius: 5px; border-radius: 5px; }
#itemDetailsBox h2 {font-size: 15px; font-weight: bold;  padding: 2px 0; margin-bottom: 5px; border-bottom: 1px solid #AAA;}
#itemDetailsBox table {width: 100%}
#itemDetailsBox th {padding: 1px 0px; text-align: left; padding-right: 10px; border-bottom: 1px solid white; width: 30%; min-width: 80px;}
#itemDetailsBox td {padding: 1px 0px; text-align: left; border-bottom: 1px solid white;}
#itemDetailsBox tr:hover {background: #eff5f9;}

/*filters menu*/
#filtersPreviewMenuBox .yuimenubaritemlabel {padding-left: 5px;}

/*content*/
#contentContainer{ margin: 10px 15px; background: white; border: 1px solid #dddddd; border-radius: 5px 5px 5px 5px; }
#content {margin: 0 10px 10px 10px; }


#goToMenuContainer{margin-left: -10px;}


/*tables*/
.contentTable td {padding: 3px 4px; vertical-align: top;}
.contentTable th {font-weight: normal; text-align: left; padding: 3px 4px; vertical-align: top;}

.btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:2px 14px 2px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.btn:focus{outline:1px dotted #666;}

/*tabs*/
.tabs {height: 28px;}
.tabs a {border: 1px solid #636363; padding: 5px 10px;  background: #fff url(img/tab_bg.png) bottom left repeat-x; }
.tabs a:hover {background: #e6e6e6 url(img/tab_hover_bg.png); }
.tabs .current, .tabs .current:hover, .tabs li.current a {background: #e6e6e6 url(img/tab_selected_bg.png); color: white;}
.panes{border: 1px solid #ababac; border-top: 3px solid #636363; padding: 5px; background: #f8f8f8;}
.panes fieldset {border: 1px solid #ababac; padding: 5px;}
.panes fieldset legend { margin: 0 5px; padding: 0 3px; border: 1px solid #ababac;}

/*modalbox*/
#modalBoxBody {
  padding: 0px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1f1f1));
  background-color: #f1f1f1;

  border: 1px solid #dddddd;
  -moz-box-shadow: 0 2px 2px 2px #e1e1e1;
  -webkit-box-shadow: 0 2px 2px 2px #e1e1e1;
  box-shadow: 0 2px 2px 2px #e1e1e1;

}

div.modalBoxBodyContent { padding: 5px;  background: url(img/mb_heading_bg.png) repeat-x;}
div.modalBoxBodyContent h1 { font-size: 12px; color: black; font-weight: bold; margin-bottom: 10px;  margin-top: -1px; border-bottom: 0px;}
div.modalBoxBodyContent label, div.modalBoxBodyContent th {font-weight: normal;}
div.closeModalBoxButton {background: url(img/window-close.png) no-repeat; margin-top: 5px; margin-right: 5px; width: 25px; height: 15px;}

/*table listing*/
table.tableListing {margin: 7px 0px 3px 0px;}
table.tableListing thead tr th, table.tableListing tfoot tr th { border: 1px solid #dadfe0; padding: 4px 4px 4px 4px; background: #ebebeb url(img/table_heading_bg.png) bottom left repeat-x; font-size: 11px }
table.tableListing tbody td {vertical-align: top;  border: 1px solid #dadfe0;  padding: 3px 4px; }
table.tableListing tfoot td {vertical-align: top;  border: 1px solid #dadfe0;  padding: 3px 4px; }
table.tableListing tbody tr.odd { background: #f3f3f3;}
table.tableListing tbody tr:hover {background: #eff5f9;}
table.tableListing thead tr .headerSortUp {background: url(img/table_heading_bg.png) top;}
table.tableListing thead tr .headerSortDown {background: url(img/table_heading_bg.png) top;}
table.tableListing tfoot td {font-weight: bold}

#projectShortInfo {margin-bottom: 15px;}
#projectShortInfo td {padding-right: 15px;}

ul.attachedList { list-style-type: none; padding-left: 0; width: 50%;}
.attachedList li { border: 1px dashed LightGray; padding: 4px; margin: 4px; background: white;}
.attachedList li:hover {background: #f3f3f3}

/*cluetip*/
.cluetip-jtip .cluetip-inner {  }                              
.ui-cluetip-header { font-size: 11px; background: white url(img/heading_bg.png)}

.filterPreviewBox td.selectedFilterItems{color: #C31B2F}

